<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 homepage_content">
      <h2>عني</h2>
      <hr>
      <p>
        I am a web developer who dabbles in mobile development from time to time.
        This is my journey to embrace and internalize the world view of Swift.<br>
        Follow along as I sort out how to swift-ly implement stuff I’ve needed,<br>
        from turning PSDs from designers into beautiful apps to integrating web services.
      </p>
    </div>
    <div class="col-2 homepage_content">
      <h2>اخر المقالات</h2>
      <hr>
      <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>

    <div class="col-3 homepage_content">
      <h2>مشاريع</h2>
      <hr>
      <% @projects.each do |project| %>
        <h3><a href="#"><%= link_to project.title, project %></a></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>

  </div>
